* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -ms-overflow-style: scrollbar; }

body {
  height: 100vh; }
  body.scroll {
    overflow: hidden; }

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

html,
body {
  height: 100%;
  font-size: 8px; }
  @media screen and (min-width: 992px) {
    html,
    body {
      font-size: 8px; } }
  @media screen and (min-width: 1200px) {
    html,
    body {
      font-size: 10px; } }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    max-width: 100%; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 100vw;
    padding: 0 3.33vw; } }

.wrapper {
  display: flex;
  flex-direction: column; }

section.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.footer {
  flex: 0 0 auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper {
    display: block;
    min-height: 100vh;
    flex-direction: column; } }

@-moz-document url-prefix() {
  .wrapper {
    height: auto; }
  html,
  body {
    height: auto; }
  input[type=number] {
    padding: 5px !important; } }

.flex {
  display: flex;
  flex-wrap: wrap; }

ul {
  padding: 0;
  list-style: none; }

button {
  cursor: pointer;
  border: 0;
  outline: none; }

a {
  display: inline-block;
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Exo 2', sans-serif;
  color: #1F1C1C;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden; }
  body.is-scroll {
    overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto"; }

h1 {
  font-size: 42px;
  line-height: 42px;
  color: #1F1C1C; }

h2 {
  font-size: 42px;
  line-height: 42px;
  color: #1F1C1C; }

h3 {
  font-size: 18px;
  line-height: 26px;
  color: #1F1C1C; }

h4 {
  font-size: 16px;
  line-height: 28px;
  color: #1F1C1C; }

h5 {
  font-size: 16px;
  line-height: 26px;
  color: #1F1C1C; }

h6 {
  font-size: 14px;
  line-height: 21px;
  color: #1F1C1C; }

p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 3rem; }

img {
  display: block;
  font-size: 12px;
  line-height: 14px; }

section {
  position: relative;
  padding: 40px 0;
  z-index: 1; }

.section {
  position: relative;
  padding: 100px 0; }

.row.min {
  margin-left: -5px;
  margin-right: -5px; }

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

.overflow {
  overflow: hidden !important; }

.hidden {
  display: none !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.icon {
  width: 20px;
  height: 20px; }

.page-content {
  background-size: cover;
  background-repeat: no-repeat; }

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease; }

button {
  cursor: pointer; }

.wysiwyg {
  font-size: 16px;
  line-height: 24px;
  color: #1F1C1C; }
  .wysiwyg p {
    font-size: 16px;
    line-height: 24px;
    color: #1F1C1C;
    margin-bottom: 16px; }

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.67vw 0; }
  .header .container {
    display: flex;
    align-items: center; }
  .header-logo {
    width: 13.33vw;
    height: 3.33vw;
    margin-right: 0.69vw; }
    .header-logo a {
      display: inline-block;
      width: 100%; }
    .header-logo img {
      width: 100%; }
  .header-nav ul {
    display: flex;
    align-items: center; }
  .header-nav li {
    margin-right: 1.39vw; }
  .header-nav a {
    font-weight: 600;
    font-size: 1.67vw;
    line-height: 90%;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #ffffff;
    border-radius: 0.56vw;
    padding: 1.11vw; }
    .header-nav a.active, .header-nav a:hover {
      background: rgba(255, 255, 255, 0.15); }
  .header-lang {
    margin-right: 1.67vw; }
  .header-phone {
    margin-right: 2.57vw; }
  .header-lang a, .header-phone a {
    font-size: 1.67vw;
    line-height: 90%;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #ffffff; }
  .header-cart .icon {
    width: 2.22vw;
    height: 2.22vw;
    fill: none;
    stroke-width: 2px;
    stroke: #ffffff; }

.footer {
  background: #2B3433;
  padding: 2.22vw 0; }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .footer-left {
    width: 56.53vw; }
  .footer-right {
    width: 29.72vw; }
  .footer-nav {
    margin-bottom: 4.86vw; }
    .footer-nav ul {
      display: flex;
      flex-wrap: wrap; }
    .footer-nav li {
      width: 33.33%;
      margin-bottom: 1.67vw; }
    .footer-nav a {
      font-weight: 600;
      font-size: 1.67vw;
      line-height: 90%;
      letter-spacing: -0.01em;
      color: #ffffff; }
  .footer-text {
    font-weight: 600;
    font-size: 1.67vw;
    line-height: 90%;
    letter-spacing: -0.01em;
    color: #ffffff;
    margin-bottom: 10.42vw; }
  .footer-bottom ul {
    display: flex;
    flex-wrap: wrap; }
  .footer-bottom li {
    position: relative; }
    .footer-bottom li:after {
      position: relative;
      content: '.';
      top: -0.35vw;
      margin: 0 0.56vw;
      font-weight: 600;
      font-size: 1.67vw;
      line-height: 90%;
      letter-spacing: -0.01em;
      color: rgba(255, 255, 255, 0.5); }
    .footer-bottom li:last-of-type:after {
      display: none; }
  .footer-bottom a {
    font-weight: 600;
    font-size: 1.67vw;
    line-height: 90%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5); }
  .footer-copy {
    font-weight: 600;
    font-size: 1.67vw;
    line-height: 90%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5); }
  .footer-social ul {
    display: flex;
    justify-content: space-between; }
  .footer-social li a {
    width: 100%; }
  .footer-social li img {
    width: 3.89vw;
    height: 3.89vw; }
  .footer-phone {
    margin-bottom: 0.56vw; }
    .footer-phone a {
      font-weight: bold;
      font-size: 3.89vw;
      line-height: 100%;
      color: #ffffff;
      letter-spacing: -0.05em; }

.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  left: -150%;
  visibility: hidden;
  transition: all ease 300ms;
  z-index: 12;
  text-align: center; }
  .popup.active {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible; }
  .popup-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }

.hero-section img {
  margin: 0 auto;
  max-width: 36.67vw;
  max-height: 55.56vw; }
